<?xml version="1.0"?>
<model>
  <name>custom_seafloor</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>UUV Project</name>
    <email>user@example.com</email>
  </author>
  <description>
    Custom seafloor with Gaussian terrain features
  </description>
</model>
